/* --- MAIN START --- */
body {
    /* Remove extra space */
    margin: 0;

    /* Base text color */
    color: #fffbfb;

    /* Background styling */
    background-color: #0A0A0A;
}

a {
    /* Remove base underline */
    text-decoration: none;

    /* Link styling */
    color: #fffbfb;
}

a:hover {
    /* Link hover styling */
    color: #0A0A0A;
}
/* --- MAIN END --- */



/* --- HEADER START --- */
.header-main {
    /* Flexbox */
    display: flex;

    /* Sticky */
    position: sticky;
    top: 0;

    /* Borders */
    border-bottom: 2px solid #0A0A0A;

    /* Take up all the space */
    height: 100%;
    width: 100%;

    /* Styling */
    background-color: #36454F;
}

.header-logo {
    /* Flexbox */
    flex: 1;

    margin: auto;
}

.header-logo-img {
}

.header-logo-img:hover {
}

.header-logo-text {
}

.header-logo-text:hover {
}

.header-placeholder {
    /* Flexbox */
    display: flex;
    flex-grow: 1;
    justify-content: right;

    /* Text */
    text-indent: 25px;
    text-align: center;
}

.header-links {
    /* Flexbox */
    flex: 1;
    align-items: center;
    align-content: center;
    justify-content: center;

    /* Padding */
    padding-right: 25px;

    /* Text styling */
    font-size: 35px;
    word-spacing: 50px;
    text-indent: 25px;
    text-align: center;
}
/* --- HEADER END --- */