/* --- MAIN START --- */
body {
    /* Remove extra space */
    margin: 0;

    height: auto;

    /* Base font */
    font-family: "Teko", serif;

    /* Base text color */
    color: #FFFBFB;

    /* Base background */
    background-color: #0A0A0A;
}

a {
    /* Remove link underline */
    text-decoration: none;
    color: #FFFBFB;
}

a:hover {
    color: #7A7979;
}

.highlight {
    display: inline;

    color: #FF1515;
}

/* --- MAIN END --- */


/* --- PAGE 1 START --- */
.page-1-header {
    /* Flexbox properties */
    display: flex;

    /* Size definition */
    height: 40px;
    width: 100%;

    /* Sticky header */
    position: sticky;
    top: 0;

    /* Background */
    background-color: #0A0A0A;
}

.page-1-header-hamburger {
    /* Size definition */
    height: 40px;
    width: 40px;
}

.page-1-header-logo {
    /* Size definition */
    width: 130px;
    height: 40px;

    /* Margins */
    margin-top: 10px;

    /* Text properties */
    text-align: center;
}

.page-1-header-menus {
    /* Padding */
    padding-right: 20px;

    /* Flexbox properties */
    flex: 1;
    margin: auto;

    /* Text properties */
    font-size: 20px;
    text-align: right;
    text-shadow: -1px -1px 1px #0A0A0A, 2px 2px 1px #292929;
}

.page-1-body {
    /* Flexbox properties */
    display: flex;

    /* Size definition */
    width: 100%;
    height: 600px;

    /* Background */
    background-image: url("../../assets/exports/mobile_page_1/background.png");
}

.page-1-body-logo {
    /* Margins */
    margin-left: 20px;
    margin-top: 435px;

    /* Size definition */
    width: 320px;
    height: 75px;
}

/* --- PAGE 1 END --- */



/* --- PAGE 2 START --- */
.page-2-shop {
    /* Margins */
    margin-bottom: 50px;
}

.page-2-shop h1 {
    /* Margins */
    margin: auto;

    /* Background */
    background: #000000;

    /* Text properties */
    text-align: center;
    font-size: 44px;
}

.youtube-widget {
    /* Margins */
    margin-bottom: 50px;
}

.youtube-widget iframe {
    /* Border properties */
    border: none;

    /* Size definition */
    width: 360px;
    height: 320px;
}

.steam-widget {
    /* Margins */
    margin-bottom: 25px;
}

.steam-widget iframe {
    /* Border properties */
    border: none;

    /* Size definition */
    width: 360px;
    height: 200px;
}

.gog-widget {
    /* Size definition */
    width: 360px;
    height: 200px;
}
/* --- PAGE 2 END --- */



/* --- PAGE 3 START --- */

.page-3-headline {
    /* Text properties */
    text-align: center;
}

.page-3-headline img {
    /* Margins */
    margin-bottom: 50px;
}

.page-3-headline img:hover {
    border: 10px;
    border-color: #7A7979;
}

.page-3-headline-main {
    /* Size definition */
    height: 100px;
    width: 100%;

    /* Margins */
    margin-bottom: 50px;

    /* Text properties */
    font-size: 36px;
}

.page-3-headline-support {
    /* Size definition */
    height: 100px;
    width: 100%;

    /* Margins */
    margin-bottom: 50px;

    /* Text properties */
    font-size: 24px;
}
/* --- PAGE 3 END --- */



/* --- PAGE 4 START --- */
.page-4-wowfactor {

}

.page-4-wowfactor-gif-section-one {
    /* Flexbox properties */
    display: flex;

    /* Margins */
    margin-bottom: 25px;
}

.page-4-wowfactor-gif-thethree img   {
    /* Flexbox properties */
    flex: 1;

    /* Margins */
    margin-right: 30px;

    /* Size definition */
    width: 165px;
    height: 245px;
}

.page-4-wowfactor-gif-wolfman img {
    /* Flexbox properties */
    flex: 1;

    /* Size definition */
    width: 165px;
    height: 245px;
}

.page-4-wowfactor-callout {
    /* Background */
    background-color: #080b07;

    /* Margins */
    margin-bottom: 25px;

    /* Text properties */
    font-size: 48px;
    text-align: center;
}

.page-4-wowfactor-gif-section-two {
    /* Flexbox properties */
    display: flex;
}

.page-4-wowfactor-gif-bikeman img {
    /* Size definition */
    width: 209px;
    height: 237px;
}

.page-4-wowfactor-gif-musician img {
    /* Size definition */
    width: 151px;
    height: 237px;
}
/* --- PAGE 4 END --- */


/* --- PAGE 5 START --- */
.page-5-features-one {
    margin-left: 9px;
    margin-right: 9px;
}

.page-5-features-one-sections {
    display: flex;

    margin-bottom: 25px;
}

.page-5-features-one-img-bikemanbell {
    height: 155px;
    width: 166px;
}

.page-5-features-one-img-undergroundkey {
    height: 156px;
    width: 103px;
}

.page-5-features-one-img-head {
    height: 161px;
    width: 161px;
}

.page-5-features-one-text {
    font-size: 16px;
    text-align: center;
}

.page-5-features-one-text h1 {
    font-size: 20px;
}

/* --- PAGE 5 END --- */