/* --- MAIN START --- */
body {
    /* Remove extra space */
    margin: 0;

    height: auto;

    /* Base font */
    font-family: "Teko", serif;

    /* Base background color */
    background-color: #0A0A0A;

    /* Base text color */
    color: #FFFBFB;
}

* {
    /* Margins */
    margin: 0;

    /* Padding */
    padding: 0;
}

a {
    /* Remove link underline */
    text-decoration: none;
    color: #FFFBFB;
}

a:hover {
    /* Animation */
    transition: color 0.25s ease-out 50ms;

    color: #7A7979;
}

.highlight {
    display: inline;

    color: #FF1515;
}

/* --- MAIN END --- */


/* --- PAGE 1 START --- */
header {
    /* Flexbox properties */
    display: flex;

    /* Size definition */
    height: 40px;

    /* Sticky header */
    position: sticky;
    top: 0;

    /* Border properties */
    border-bottom-style: outset;
    border-width: 1px;
    border-color: #FFFBFB;

    /* Background */
    background-color: #0A0A0A;
}

.header-hamburger {
    /* Size definition */
    height: 40px;
    width: 40px;
}

#header-hamburger-menu-toggle {
    opacity: 0;
}
#header-hamburger-menu-toggle:checked + .header-hamburger-menu-btn > span {
    /* Animation */
    transform: rotate(45deg);
}
#header-hamburger-menu-toggle:checked + .header-hamburger-menu-btn > span::before {
    top: 0;

    /* Animation */
    transform: rotate(0deg);
}
#header-hamburger-menu-toggle:checked + .header-hamburger-menu-btn > span::after {
    top: 0;

    /* Animation */
    transform: rotate(90deg);
}
#header-hamburger-menu-toggle:checked ~ .menu-box {
    left: 0 !important;
}
.header-hamburger-menu-btn {
    /* Position */
    position: fixed;
    top: 20px;

    /* Size definition*/
    width: 20px;
    height: 20px;

    cursor: pointer;
    z-index: 2;
}

.header-hamburger-menu-btn:hover {
    /* Animation */
    transition: color 0.25s ease-out 50ms;

    color: #7A7979;
}

.header-hamburger-menu-btn > span,
.header-hamburger-menu-btn > span::before,
.header-hamburger-menu-btn > span::after {
    display: block;

    /* Position */
    position: absolute;

    /* Size definition */
    width: 100%;
    height: 2px;

    /* Background */
    background-color: #FFFBFB;

    /* Animation */
    transition-duration: .25s;
}

.header-hamburger-menu-btn > span::before {
    content: '';
    top: -8px;
}
.header-hamburger-menu-btn > span::after {
    content: '';
    top: 8px;
}
.menu-box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 270px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #0A0A0A;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;

    border-right-style: outset;
    border-width: 1px;
    border-color: #FFFBFB;
}
.menu-item {
    display: block;

    /* Padding */
    padding: 12px 24px;

    /* Text properties*/
    font-size: 24px;

    /* Animation */
    transition-duration: .25s;

    color: #FFFBFB;
}
.menu-item:hover {
    /* Animation */
    transition: color .25s ease-out 50ms;

    /* Background */
    background-color: #7A7979;

    color: #0A0A0A;
}

.header-logo {
    /* Margins */
    margin-left: 45px;
    margin-top: 10px;

    /* Text properties */
    text-align: center;
}

.header-menus {
    /* Flexbox properties */
    flex: 1;
    margin: auto;

    /* Padding */
    padding-right: 20px;

    /* Text properties */
    font-size: 20px;
    text-align: right;
    text-shadow: -1px -1px 1px #0A0A0A, 2px 2px 1px #292929;
}

.page-1-body {
    /* Flexbox properties */
    display: flex;

    /* Size definition */
    width: 100%;
    height: 600px;

    /* Background */
    background-image: url("../../assets/exports/mobile_page_1/background.png");
    background-size: 360px, 600px;
    background-repeat: no-repeat;
}

.page-1-body-logo {
    /* Margins */
    margin-left: 20px;
    margin-top: 435px;
}

.page-1-studio {
    /* Text properties*/
    font-size: 36px;
}

/* --- PAGE 1 END --- */


/* --- PAGE 2 START --- */
.page-2-shop {
    /* Margins */
    margin-bottom: 50px;
}

.page-2-shop h1 {
    /* Text properties */
    text-align: center;
    font-size: 44px;
}

.youtube-widget {
    /* Margins */
    margin-bottom: 50px;
}

.youtube-widget iframe {
    /* Size definition */
    width: 360px;
    height: 320px;

    /* Border properties */
    border: none;
}

.steam-widget {
    /* Margins */
    margin-bottom: 25px;
}

.steam-widget iframe {
    /* Size definition */
    width: 360px;
    height: 200px;

    /* Border properties */
    border: none;
}

.gog-widget {
    /* Size definition */
    width: 360px;
    height: 200px;
}

/* --- PAGE 2 END --- */


/* --- PAGE 3 START --- */

.page-3-headline {
    /* Text properties */
    text-align: center;
}

.page-3-headline img {
    /* Size definition*/
    width: 100%;
    height: 200px;

    /* Margins */
    margin-bottom: 50px;
}

.page-3-headline-main {
    /* Size definition */
    height: 100px;
    width: 100%;

    /* Margins */
    margin-bottom: 80px;

    /* Text properties */
    font-size: 48px;
}

.page-3-headline-support {
    /* Size definition */
    height: 100px;
    width: 100%;

    /* Margins */
    margin-bottom: 50px;

    /* Text properties */
    font-size: 24px;
}

/* --- PAGE 3 END --- */


/* --- PAGE 4 START --- */
.page-4-wowfactor {

}

.page-4-wowfactor-gif-section-one {
    /* Flexbox properties */
    display: flex;

    /* Margins */
    margin-bottom: 25px;
}

.page-4-wowfactor-gif-thethree img {
    /* Flexbox properties */
    flex: 1;

    /* Size definition */
    width: 165px;
    height: 245px;

    /* Margins */
    margin-right: 30px;
}

.page-4-wowfactor-gif-wolfman img {
    /* Flexbox properties */
    flex: 1;

    /* Size definition */
    width: 165px;
    height: 245px;
}

.page-4-wowfactor-callout {
    /* Margins */
    margin-bottom: 25px;

    /* Text properties */
    font-size: 48px;
    text-align: center;

    /* Background */
    background-color: #080b07;
}

.page-4-wowfactor-gif-section-two {
    /* Flexbox properties */
    display: flex;

    /* Margins */
    margin-bottom: 50px;
}

.page-4-wowfactor-gif-bikeman img {
    /* Size definition */
    width: 209px;
    height: 237px;
}

.page-4-wowfactor-gif-musician img {
    /* Size definition */
    width: 151px;
    height: 237px;
}

/* --- PAGE 4 END --- */


/* --- PAGE 5 START --- */
.page-5-features {
    /* Margins */
    margin-left: 9px;
    margin-right: 9px;
}
.page-5-features h1 {
    /* Margins */
    margin-bottom: 20px;

    /* Text properties */
    font-size: 48px;
    text-align: center;

    /* Background */
    background-color: #080b07;
}

.page-5-features-sections {
    /* Flexbox properties */
    display: flex;

    /* Margins */
    margin-bottom: 40px;
}

.page-5-features-text {
    /* Text properties */
    font-size: 16px;
    text-align: center;
}

.page-5-features-text h1 {
    /* Text properties */
    font-size: 24px;
}

/* --- PAGE 5 END --- */


/* --- PAGE 6 START --- */
.page-6-testimonies {
    /* Margins */
    margin-left: 32px;
    margin-right: 32px;

    /* Text properties*/
    font-size: 16px;
}

.page-6-testimonies h1 {
    /* Margins */
    margin-bottom: 40px;

    /* Text properties*/
    font-size: 40px;
    text-align: center;
}

.page-6-testimonies-sections-text {
    /* Margins */
    margin-bottom: 10px;
}

.page-6-testimonies-sections-dedication {
    /* Margins */
    margin-bottom: 40px;

    /* Text properties*/
    text-align: right;
}

.page-6-testimonies-sections-dedication img {
    /* Margins */
    margin-left: 6px;
    margin-right: 6px;
}

.page-6-testimonies-highlight-pcgamer-first {
    display: inline;

    color: #D30A1A;
}
.page-6-testimonies-highlight-pcgamer-last {
    display: inline;

    color: #FFFFFF;
}

.page-6-testimonies-highlight-rockpapreshotgun-first {
    display: inline;

    color: #44208D;
}
.page-6-testimonies-highlight-rockpapreshotgun-last {
    display: inline;

    color: #00866B;
}

.page-6-testimonies-highlight-eurogamer {
    display: inline;

    color: #0084CC;
}

.page-6-testimonies-highlight-kotaku {
    display: inline;

    color: #FBC000;
}

.page-6-testimonies-highlight-youtube-first {
    display: inline;

    color: #FF0000;
}
.page-6-testimonies-highlight-youtube-last {
    display: inline;

    color: #FFFFFF;
}
/* --- PAGE 6 END --- */



/* FOOTER START */
footer {
    /* Text properties*/
    font-size: 16px;

    /* Border properties */
    border-top-style: inset;
    border-width: 1px;
    border-color: #FFFBFB;

    /* Center */
    text-align: center;
}

.footer-section-one {
    /* Flexbox properties */
    display: flex;

    /* Margins */
    margin-top: 10px;

    /* Center */
    text-align: center;
}

.footer-section-one-links {
}

.footer-section-two {
    /* Flexbox properties */
    display: flex;

    /* Margins */
    margin-bottom: 12px;

    /* Center */
    justify-content: center;
    align-items: center;
}

.footer-section-two a{
    /* Margins */
    margin-left: 6px;
    margin-right: 6px;

    /* Text properties*/
    font-size: 12px;
}

.footer-section-socials {
    /* Margins */
    margin-bottom: 6px;

    /* Filter */
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%);
}
.footer-section-socials:hover {
    /* Animation */
    transition: color 0.25s ease-out 50ms;
}

.footer-section-copyright {
    /* Text properties*/
    font-size: 14px;
}
/* FOOTER END */

/* STICKY FOOTER START */
.sticky-footer {
    /* Size definition */
    width: 100%;
    height: 65px;

    /* Padding */
    padding: 6px;

    /* Position */
    position: fixed;
    left: 0;
    bottom: 0;

    /* Filter */
    filter: grayscale(100%);
}
/* STICKY FOOTER END */